<header>
  <a href="/"><img class="logo" src="/img/shield-with-beta.png"></a>
  <span>Hello from {{api.title}} !</span>
  <nav>
    <a [routerLink]="['Home']">Home</a>
    <a [routerLink]="['About']">About</a>
    <a [routerLink]="['PlayApi']">PlayApi</a>
    <a *ngIf=" ! _localStorage.getItem('id_token') " [routerLink]="['Login']">Login</a>
    <a *ngIf="   _localStorage.getItem('id_token') " (click)="logout()">Logout</a>
  </nav>
  <aside>
    {{_email}}
  </aside>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <a href="{{ url }}">Webpack Angular 2 Starter</a>
</footer>
